@import "../../vars.css";

.container {
    color: var(--color-text);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 37px;
}

.skills {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.skillImageContainer {
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
}

.skillImageContainer img {
    width: 75px;
}

.skill p {
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 500;
}

@media screen and (max-width: 830px) {
    .content {
        flex-direction: column;
        align-items: center;
        gap: 34px
    }

    .skills {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 18px;
        justify-items: center;
    }

    .title { font-size: 28px; }

    .skill {
        width: 100%;
        max-width: 140px;
    }

    .skillImageContainer {
        width: 80px;
        height: 80px;
    }

    .skillImageContainer img { width: 48px; }

    .skill p { font-size: 16px; }
}