:root {
    /* colors */
    --color-primary: #576cbc;
    --color-secondary: #19376d; 
    --color-text: #fff;
    --color-dark: #0b2447;
    --color-bg: #04152d;

    /* fonts */
    --font-robot: "Roboto";
}